<div class="row with-bg">
  <div class="col-xs-8 col-xs-offset-2">
    
    <h1 class="shadow big"><%= @article.title %></h1>

  </div>
</div>  

<div class="well col-xs-8 col-xs-offset-2">

  <%= simple_format(@article.description) %>
  
  <div class="article-actions">
  
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-success" %>
    <%= link_to "Delete", article_path(@article), method: :delete, 
                          data: { confirm: "Are you sure you want to delete this article?" }, 
                          class: "btn btn-xs btn-danger" %>
    <%= link_to "View all", articles_path, class: "btn btn-xs btn-primary" %>

  </div>
</div>  

